.scene {
  /* width: 100vw;  */
  /* height: 300px;   */
  /* position: relative; */
  overflow: hidden;
}

.hidden {
  display: none;
}

.motor-wrapper {
  position: absolute;
  top: 200px;
  left: -100px; 
  width: 120px;
  will-change: transform;
  z-index: 1111111111111111111111111111111;

}

.animate {
  animation: ride 4s linear forwards;
}

.motor {
  width: 150px;
}

.backfire {
    position: absolute;
    top: 130px;
    right: 87px;
    width: 80px;
}

@keyframes ride {

  0% {
    transform: translateX(0) translateY(0) rotate(0deg);
  }

  35% {
    transform: translateX(40vw) translateY(-140px) rotate(-140deg);
  }

  50% {
    transform: translateX(55vw) translateY(-170px) rotate(-200deg);
  }

  65% {
    transform: translateX(70vw) translateY(-120px) rotate(-260deg);
  }

  80% {
    transform: translateX(90vw) translateY(-80px) rotate(-320deg);
  }

  100% {
    transform: translateX(120vw) translateY(0) rotate(-360deg);
    display: none;
  }
}


@media (max-width: 768px) {

  .motor {
    width: 100px;
  }

  .backfire {
    top: 85px;
    right: 58px;
    width: 55px;
  }
}