
.wrapper {
  position: absolute;
  width: 200px;
  right: 0; 
  top: 0;
}

.motorAnimation {
  width: 120px;
  transform: scaleY(-1);
}

.backFire {
  position: absolute;
  width: 85px;
  top: 70px;
  left: -53px;
  transform: scale(1);
}

.motorWrapper {
  position: absolute;
  top: 40px;
  left: 5px;
  offset-path: path("M345.25 0.999268C294.798 20.0112 308.241 28.3893 160.465 28.3893C12.6887 28.3893 1.24999 108.561 1.24999 156.188V873.999");
  offset-rotate: auto;
}

