
.wrapper {
  display: flex;
  position: relative;
  color: white;
  background-color: #000;
  border-radius: 0 0 30px 30px;
  overflow: hidden;
  z-index: 11;
  padding: 40px 20px;
}

.sectionTitle {
  font-size: 48px;
  font-weight: 700;
}

.textSide {
  width: 70%;
}

.animationSide {
  width: 30%;
  position: relative;
}

.animationSide > section {
  position: sticky;
  top: 10%;
}